.nameCatalog{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 38px;
    color: #fff !important;
    font-weight: 500;
}
.nameCatalog a{
    color: #fff;
}

.catalogParent:hover .nameCatalog a{
    color: #c43b68;
}